{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Armstrong Calculator</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="csrf-token" content="{{ csrf_token }}">

  <!-- Favicons -->
  
  <!-- <link href="{% static 'assets/img/favicon.png' %}" rel="icon"> -->
  <!-- d -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">


</head>

<body>

  {%include 'navbar.html' %}
   

  {% block content %}
    
    
  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="{% static 'assets/img/maths.jpg' %}" alt="" data-aos="fade-in">

      <div class="container" data-aos="fade-up" data-aos-delay="50">
        <div class="row justify-content-start">
          <div class="col-lg-10">
           
            {% if user.is_authenticated %}
            <h2 class="">Hi, {{user.username}}</h2>
            {% else %}
            <h2 class="">Hi</h2>
            {% endif %}
            <h2 class="">Welcome to Armstrong Finder </h2>
            <p>
              Armstrong Numbers:
              
              Armstrong numbers, also known as narcissistic numbers or pluperfect digital invariants,
               are special numbers in mathematics. An Armstrong number is a number that is equal to the sum of 
               its own digits raised to the power of the number of digits. 
               In simpler terms, if you take each digit of the number, raise it to the power of the
                total number of digits in the number, and then sum them up, if the result is the same as 
                the original number, then it is an Armstrong number.
                For example, 153 is an Armstrong number because 1<sup>3</sup> + 5<sup>3</sup> + 3<sup>3</sup> = 153.</p>
            <a href="#about" class="btn-get-started">Get Started</a>
          </div>
        </div>
        
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title For single numbers-->
      <div class="container section-title" data-aos="fade-up">
        <span class="">Find For a single number<br></span>
        <h2 class="">Find For a single number<br></h2>
        <p>Input a number to check if it is an Armstrong number or not</p>
      </div><!-- End Section Title -->
    
      <div class="container">
    
        <div class="row gy-4">
    
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
    
          <div class="col-lg-12 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
            <div class="row calc">
              <form id="armstrongForm" method="post" action="check-armstrong/"  > <!-- Ensure action points to the correct URL -->
                {% csrf_token %}
                <div class="input-field">
                    <label for="number">Enter a number</label>
                    <input id="number" name="number" type="number" class="validate" v-model="number">
                </div>
                <div class="col s12 m12 l6">
                    <p class="right-align">
                        <button type="submit" class="check btn-flat btn-oval green white-text">Check</button> <!-- Change type to submit -->
                        <button type="button" class="clear btn-flat btn-oval cs-red white-text">Clear</button>
                    </p>
                </div>
            </form>
              <div class="result">
                <!-- Result will be displayed here -->
              </div>
            </div>
          </div>
    
        </div>
    
      </div>
    
    </section><!-- /About Section -->
    
   
    <!-- CRange Section -->
    <section id="cards" class="cards section">

      <div class="container section-title" data-aos="fade-up">
        <span class="">Find For a range of numbers<br></span>
        <h2 class="">Find For a range of  number<br></h2>
        <p>Input a start and end number  to check the armstrong number in that range </p>
      </div><!-- End Section Title -->


      <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-12 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <div class="row calc">

                  <form id="armstrongForm2" method="post" action="check_armstrongRange/"  > <!-- Ensure action points to the correct URL -->
                    {% csrf_token %}
                    <div class="input-field frf">
                      <label for="from">From:</label>
                      <input id="frome" type="number" name="frome" class="validate2" v-model="fromNumber" min="-1" max="40000">
                  </div>
                  <div class="input-field frf">
                      <label for="to">To:</label>
                      <input id="to" type="number" name="to" class="validate2" v-model="toNumber" max="40000" min="-1">
                  </div>
                  <div class="col s12 m12 l6">
                      <p class="right-align">
                        <button type="submit" class="check check2 btn-flat btn-oval green white-text">Check</button> <!-- Change type to submit -->
                        <button type="button" class="clear clear2 btn-flat btn-oval cs-red white-text">Clear</button>
                    
                          
                      </p>
                  </div>
                  <div class="result result3 "></div> 
                  <div class="result result2" style="margin-top: -5px;"></div>
                </form>

                    
                </div>
            </div>
        </div>
    </div>
    
      


    </section><!-- /Cards Section -->

 
   
    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span class="">Contact</span>
        <h2 class="">Contact</h2>
        <p>You can get in touch with us with these information </p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>Nile street , Lagos, Nigeria</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone"></i>
              <h3>Call Us</h3>
              <p>080345543453</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>armstrong@example.com</p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="row gy-4 mt-1">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d63411.83823584941!2d3.2962643356550405!3d6.617101424849024!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1711572002799!5m2!1sen!2sus" frameborder="0"  width="100%" height="400px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div><!-- End Google Maps -->

          <div class="col-lg-6">
           
           
            <form id="feedbackForm" data-aos="fade-up" data-aos-delay="400">
              {% csrf_token %}
              <div class="col-md-12">
                  <label for="">Feedback Form</label>
              </div>
              <div class="row gy-4">
                  {% if not user.is_authenticated %}
                      <div class="col-md-6">
                          <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                      </div>
                      <div class="col-md-6">
                          <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                      </div>
                  {% endif %}
                  <div class="col-md-12">
                      <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                  </div>
                  <div class="col-md-12">
                      <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                  </div>
                  <div class="col-md-12 text-center">
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                  <div class="loading" style="display: none;">Loading...</div>
                  <div class="error-message" style="display: none;background-color: rgb(161, 37, 37);color: white;text-align: center;padding: 10px;">Error while sending message</div>
                  <div class="sent-message" style="display: none;background-color: rgb(31, 209, 105);color: white;text-align: center;padding: 10px;">Your message has been sent. Thank you!</div>
              </div>
          </form>
          
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

    
    
   
    
    {% endblock %}
    
 
  <footer id="footer" class="footer position-relative">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6">
          <div class="footer-about">
            <a href="/" class="logo">ArmStrong</a>
            <div class="footer-contact pt-3">
              <p>Nile street</p>
              <p>Lagos, Nigeria</p>
              <p class="mt-3"><strong>Phone:</strong> <span>080345543453</span></p>
              <p><strong>Email:</strong> <span>armstrong@example.com</span></p>
            </div>
            <div class="social-links d-flex mt-4">
              <a href="https://twitter.com/"><i class="bi bi-twitter"></i></a>
              <a href="https://facebook.com/"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/"><i class="bi bi-instagram"></i></a>
              <a href="https://linkedin.com/"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#about">Calculator</a></li>
            <li><a href="settings">Settings</a></li>
            
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="/#about">Calculator</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
          
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1">Armstrong</strong> <span>All Rights Reserved</span></p>
      
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <script>
    // Assign CSRF token value to a JavaScript variable
    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
  </script>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>