{% extends 'index.html' %}

{% block content %}


<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <!-- Vertical Navbar -->
   
    <!-- Main content -->
    
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
      
      <!-- Main -->
       
      <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
          <div class="row">
           
            <div class="col-xl-7 mx-auto">
              <!-- Profile picture -->
              <h5 class="mb-5"> u</h5>
              <h5 class="mb-5">Account Information</h5>
              <!-- Form -->
              {% for message in messages %}
              <p id="messages">{{message}}</p>
              {% endfor%}
               <!-- <form method="post">
                {%csrf_token%}
                <p>{{error.1}}</p>
                <p>{{error2.1}}</p>
                {{form}}
                {{d_form}}
                <input type="submit">
               </form> -->

               <form class="mb-6" method="post">
                {%csrf_token%}
                <p>{{error.1}}</p>
                <p>{{error2.1}}</p>
                <div class="row mb-5">
                    
                  <div class="col-md-6">
                    <div class="">
                      <label class="form-label" for="first_name">Username</label>
                      <!-- <input type="text" class="form-control" id="first_name">
                       -->
                       {{form.username}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="">
                      <label class="form-label" for="last_name">Name</label>
                      <!-- <input type="text" class="form-control" id="last_name"> -->
                      {{d_form.name}}
                    </div>
                  </div>
                </div>
                <div class="row g-5">
                  <div class="col-md-6">
                    <div class="">
                      <label class="form-label" for="email">Email</label>
                      {{form.email}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="">
                      <label class="form-label" for="phone_number">Phone number</label>
                      {{d_form.phone_number}}
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="">
                      <label class="form-label" for="address">Address</label>
                      {{d_form.address}}
                    </div>
                  </div>
                  
                  
                  
                  <div class="col-12">
                    
                  </div>
                </div>
                <div class="text-end">
                  
                  <button type="submit" class="btn btn-sm btn-primary">Save</button>
                </div>
              </form>
              
             
            
              
                 
              <hr class="my-10" />
              <!-- Individual switch cards -->
              
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>


{% endblock %}

